#resultadoPregunta{
    display: none;
}

.panel a{
    color:#4C531E;
    font-weight: 700;
}

.panel{
    padding-top: 10px;
}

#iconoPregunta{
    color:#4C531E;
}

#preguntasFrecuentesTable input {
	display: none;
}

.box {
	position: relative;
	background: white;
    transition: all .15s ease-in-out;
}
.box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
header.box {
	background: #00BCD4;
	z-index: 100;
	cursor: initial;
	box-shadow: 0 -1px 0 #e5e5e5,0 0 2px -2px rgba(0,0,0,.12),0 2px 4px -4px rgba(0,0,0,.24);
}
header .box-title {
	margin: 0;
	font-weight: normal;
	font-size: 16pt;
	color: white;
	cursor: initial;
}
.box-title {
	/* width: calc(100% - 40px); */
	/* height: 64px; */
    color: #4C531E;
    font-weight: 500;
    font-size: 1.3rem;
	/* line-height: 64px; */
	padding: 10px 10px;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}
.box-content {
	width: 100%;
	padding: 10px 20px 10px 20px;
	font-size: 11pt;
	color: black;
	display: none;
    font-size: 18px;
    text-align: justify;
}
.box-content a, .box-content b{
    color: #4c531e !important;
    font-weight: 700;
}
.box-close {
	position: absolute;
	height: 64px;
	width: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}
input:checked + .box {
	height: auto;
	margin: 16px 0;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
/* input:checked + .box .box-title { */
	/* border-bottom: 1px solid rgba(0,0,0,.18); */
/* } */
input:checked + .box .box-content,
input:checked + .box .box-close {
	display: inline-block;
}
#preguntasFrecuentesTable section .box-title {
	width: 100%;
}
#preguntasFrecuentesTable section .box-title:before {
	display: block;
	content: '\002B';
	font-weight: 900;
	right: 20px;
	transition: transform .15s ease-in-out;
    color: #ffffff;;
    font-weight: 900;
    float: right;
    margin-left: 5px;
    border-radius: 50%;
    background-color: #4c531e;
    background-size: 100% 100%;
    width: 30px;
    text-align: center;
    font-size: 20px;
    /* margin-top: 10px; */
}
input:checked + section.box .box-title:before {
	/* transform: rotate(45deg); */
    content: "\2212" !important;
    font-weight: 900;
}
#rowQuestion{
    padding-bottom: 7px;
}
.box-content ul, .box-content ol{
    padding: 10px 20px 10px 20px;
}
@media (max-width:999px){
.box-title{
    font-size: 19px;
}
}
