#pasosInmovilizacion1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: center;
    border-bottom: ridge;
    padding: 15px;
}

#pasosInmovilizacion2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: center;
    flex-direction: row-reverse;
    border-bottom: ridge;
    padding: 15px;
}

@media (max-width: 991.98px) {
    #pasosInmovilizacion2 {
        grid-auto-flow: dense;
    }

    #pasosInmovilizacion2>.textPR {
        grid-column: 1;
        text-align: justify !important;
    }

    #pasosInmovilizacion2>.imgPR {
        grid-column: 2;
    }

    #pasosInmovilizacion2.reverse>.textPR {
        grid-column: 1;
    }

    #pasosInmovilizacion2.reverse>.imgPR {
        grid-row: 1;
        grid-column: 1;
    }

    #pasosInmovilizacion1>.textPR {
        text-align: justify !important;
    }
}

#pasosInmovilizacion2>.textPR {
    text-align: right;
}

#textProcesoRetiroUltimo{
    font-size: 2.7vh;
    font-weight: 700;
    color: #879225;
}
