#principalCard{
    background-color: #879225 !important;
}
#enlace{
    color: #879225 !important;
    text-decoration: none !important;
}
#notificacionesDashboard{
    width: 100%;
}

#notificacionesDashboard thead,#hojasVidaDashboard thead,#contactenosDashboard thead,#dependencias thead,#roles thead,#usuarios thead,#notificacionesAviso thead,#consultaNotificacionesAviso thead,#reporteContacto thead{background: #879225 !important;
    color: #ECF0F1;}
#notificacionesDashboard tr,#hojasVidaDashboard tr,#contactenosDashboard tr,#dependencias tr,#roles tr,#usuarios tr,#notificacionesAviso tr,#consultaNotificacionesAviso tr,#reporteContacto tr{text-align:center;}
#notificacionesDashboard,#hojasVidaDashboard,#contactenosDashboard,#dependencias,#roles,#usuarios,#notificacionesAviso,#consultaNotificacionesAviso,#reportecontacto{text-align:center;width: 100%;}
#tituloCard{color:white !important;}
#imgCard{text-align: center;}
.modal-header{
    background: #879225 !important;
    color: #ECF0F1;
}
.profile-user-img {
    border: none !important;
    margin: 0 auto;
    padding: 3px;
    width: 100px;
}
#perilHeader{
    text-align: start;
}
#cerrarSesion{
    text-align: end;
}
#show_password{
    font-size: 12px;
}
#imgAlerts{max-width: -webkit-fill-available;width:-moz-available;width: 20%}
#exitoAlert,#errorAlert,#exitoTrabajo{text-align:center;font-size:2vh;font-weight: 600;}
/* #panelResultado{display: none;} */
