#principalCard{
    background-color: #879225 !important;
}
#enlace{
    color: #879225 !important;
}
#notificacionesDashboard{
    width: 100%;
}
thead{
    background: #879225 !important;
    color: #ECF0F1;
}
#notificacionesDashboard tr,#hojasVidaDashboard tr,#contactenosDashboard tr{text-align:center;}
#tituloCard{color:white !important;}
#imgCard{text-align: center;}
#textCard{}
